* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

.container {
  height: 100vh;
  width: 100%;
}

.vehicle.rail {
  /* background-color: #084c8d; */
  /* background-image: url('images/mode-max.png'); */
}

.vehicle.rail100 {
  background-color: #0069aa;
}

.vehicle.rail90 {
  background-color: #d11241;
}

.vehicle.rail200 {
  background-color: #008752;
}

.vehicle.rail190 {
  background-color: #ffc424;
}

.vehicle.rail290 {
  background-color: orange;
}

.vehicle.bus {
  background-color: #fcd672;
  /* background-image: url('images/mode-bus.png'); */
  /* background-image: url('images/mode-bus.png'), linear-gradient(45deg, rgb(252, 214, 114) 0%,rgb(252, 214, 114) 49%, rgb(8, 76, 141) 49%, rgb(8, 76, 141) 100%); */
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.navigation {
  display: none;
  position: fixed;
  top: 30px;
  left: 30px;
  z-index: 1;
  background-color: #fff;
}

.navigation ul {
  list-style: none;
}

.vehicle-infobox {
  display: none;
  position: absolute;
  top: 100%;
  left: 100%;
  background-color: white;
  padding: 1rem;
}

.vehicle-infobox div {
  white-space: nowrap
}

.vehicle-infobox {
  font-weight: bold;
}

.vehicle:hover .vehicle-infobox {
  display: block;
}

.vehicle .routeNumber {
  font-weight: bold;
}

.vehicle.rail .routeNumber {
  display: none;
}

.stats {
  display: flex;
  align-items: center;
}

.stats > div {
  flex-grow: 1;
  text-align: center;
  font-size: 28px;
}

.stats > div > div {
  font-weight: bold;
  font-size: 16px;
  transition: 2s ease-in-out;
}


@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.loading {
  font-weight: bold;
  font-size: 5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  animation-delay: .2s;
}

.loading span:nth-child(3) {
  animation-delay: .4s;
}